.container {
    margin: 0 auto;
    max-width: 1070px;
	padding: 1rem;
}

.leftsidebar {
	display: table-cell;
	width: 15%;
	vertical-align: top;
	border-left-style: solid;
	border-width: 0.2px;
}

.content {
    display: table-cell;
	width: 85%;
	vertical-align: top;
}

.desktoponly {
	display: none;
}

.mobileonly {
	display: unset;
}

@media screen and (min-width: 580px) {
	.container {
		margin: 0 auto;
		max-width: 1070px;
		padding: 1rem;
	}
	
	.leftsidebar {
		display: table-cell;
		width: 15%;
		vertical-align: top;
		border-left-style: solid;
		border-width: 0.2px;
	}
	
	.content {
		display: table-cell;
		width: 85%;
		vertical-align: top;
	}

	.desktoponly {
		display: unset;
	}

	.mobileonly {
		display: none;
	}

	p {
		text-align: justify;
		margin-right: 20px;
		font-size: 16px;
        font-weight:  500;
	}
}